<div class="contact">
  <div>
    <div id="form" class="contact-form">
      <input type="text" name="name" placeholder="" required /> <label>Имя</label>
      <input type="text" name="nickname" placeholder="" required /> <label>Никнейм</label>
      <input type="text" name="email" placeholder="" required /> <label>Email</label>
      <input type="phone" name="phone" placeholder="" required /> <label>Телефон</label>
      <input type="text" name="direct" placeholder="" required /> <label>Направление</label>
      <textarea placeholder="" name="info" required></textarea>
      <label>Кратко о себе</label>
    </div>
    <button class="button">Сохранить и отправить</button>
  </div>
  <div id="card">
    <div class="contact-card">
      <div class="contact-profile">
      </div>
      <div class="contact-info-container">
        <div class="contact-info">
          <div class="material-icons">person</div>
          <div class="contact-data"></div>
        </div>
        <div class="contact-info">
          <div class="material-icons">sentiment_satisfied</div>
          <div class="contact-data"></div>
        </div>
        <div class="contact-info">
          <div class="material-icons">email</div>
          <div class="contact-data"></div>
        </div>
        <div class="contact-info">
          <div class="material-icons">phone</div>
          <div class="contact-data"></div>
        </div>
        <div class="contact-info">
          <div class="material-icons">search</div>
          <div class="contact-data"></div>
        </div>
        <div class="contact-data-container">
          <div class="material-icons">notes</div>
          <div class="contact-data">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


    
  
